--
-- PostgreSQL database dump
--

\restrict 8aa5mgPf7GdgZIqeDhieVqS2HfQO2cHydiCxi613amokC2wflg21Hc3k7NWdM4i

-- Dumped from database version 18.2
-- Dumped by pg_dump version 18.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: media_object; Type: TABLE; Schema: public; Owner: zoey_app
--

CREATE TABLE public.media_object (
    id bigint NOT NULL,
    style character varying(255),
    url character varying(255)
);


ALTER TABLE public.media_object OWNER TO zoey_app;

--
-- Data for Name: media_object; Type: TABLE DATA; Schema: public; Owner: zoey_app
--



--
-- Name: media_object media_object_pkey; Type: CONSTRAINT; Schema: public; Owner: zoey_app
--

ALTER TABLE ONLY public.media_object
    ADD CONSTRAINT media_object_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict 8aa5mgPf7GdgZIqeDhieVqS2HfQO2cHydiCxi613amokC2wflg21Hc3k7NWdM4i

