.App {
    text-align: center;
    min-height: 100vh;
    display: flex !important;
    flex: 1;
    flex-direction: column;
    background-color: hsl(32.73deg 17.46% 87.65%);
}

.App-logo {

}

.App-header {

}

.App-link {
    color: hsl(32.73deg 17.46% 87.65%);
}
.aboutSection{

    max-width: 700px;
    margin: 40px auto; /* Center the carousel */
    position: relative;
    padding: 0 20px;
    max-height: 80vh; /* Limit the carousel height to avoid overflow */
    overflow: hidden; /* Hide anything outside */
    color: hsla(29.47,47.9%,23.33%,1);
}