.App {
  text-align: center;
  min-height: 100vh;
  display: flex !important;
  flex: 1;
  flex-direction: column;
  background-color: hsl(32.73deg 17.46% 87.65%);
}

.App-logo {

}

.App-header {

}

.App-link {
  color: hsl(32.73deg 17.46% 87.65%);
}
